@use "sass:color";

html {
  // scroll-snap-type: y mandatory;
  // scroll-behavior: smooth;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  background-color: rgb(9, 29, 18);
  background-image: linear-gradient(-45deg, rgb(9, 29, 18), 80%, rgb(88, 93, 90));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  overflow: hidden;


  .bgd {
    position: relative;
    display: block;
    height: 100svh;
    overflow-y: auto;
    overflow-x: hidden;
    // overscroll-behavior-y: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    

    section {
      max-height: 100vh;
      max-width: 1366px;
      margin-bottom: 100px;
      display: flex;
      justify-content: flex-start;
      padding: 0 20px;
    }
  }
}
