html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}

body{
    background-color: rgb(7, 37, 31);
    color: rgb(138, 239, 138);
}

a{
   text-decoration: none;
   color: inherit; 
}

section{
    height: 100vh;
    scroll-snap-align: center;
}